.text-default {
  color: #2bbbad;
}
.text-primary {
  color: #4285f4;
}
.text-secondary {
  color: #a6c;
}
.text-success {
  color: #00c851;
}
.text-danger {
  color: #ff3547;
}
.text-warning {
  color: #fb3;
}
.text-info {
  color: #33b5e5;
}

.bg-default {
  background-color: #2bbbad;
}
.bg-primary {
  background-color: #4285f4;
}
.bg-secondary {
  background-color: #a6c;
}
.bg-success {
  background-color: #00c851;
}
.bg-danger {
  background-color: #ff3547;
}
.bg-warning {
  background-color: #fb3;
}
.bg-info {
  background-color: #33b5e5;
}