body {
  background-color: rgba(0, 0, 0, 0.8);
  .main {
    max-width: 1920px;
    margin: 0 auto;

    .intro {
      // position: fixed;
      height: 100vh;
      .video-fullscreen {
        z-index: -1;
        position: fixed;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        .video-br {
          filter: blur(3px);
          position: absolute;
          width: auto;
          height: auto;
          min-width: 100%;
          min-height: 100%;
          top: 50%;
          left: 50%;

          @include responsiveWidth("w") {
            transform: translate(-30%, -50%);
          }
          @include responsiveWidth("w-sm") {
            transform: translate(-35%, -50%);
          }
          @include responsiveWidth("w-md") {
            transform: translate(-35%, -50%);
          }
          @include responsiveWidth("w-lg") {
            transform: translate(-35%, -50%);
          }
          @include responsiveWidth("w-xl") {
            transform: translate(-50%, -50%);
          }
        }
      }
      .navbar {
        position: fixed;
        top: 0;
        z-index: 2;
        width: 100%;
        ul {
          justify-content: center;
          display: flex;
          li {
            cursor: pointer;
            font-weight: 600;
            padding: 10px 15px 10px 15px;
            list-style: none;
            a {
              text-decoration: none;
              color: #fff;
            }
            .selected {
              color: #ffb300;
            }
          }
        }
      }

      .content {
        position: absolute;
        top: 50%;
        // left: 50%;
        transform: translate(0, -50%);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        @include responsiveWidth("w") {
          flex-direction: column;
        }
        @include responsiveWidth("w-sm") {
          flex-direction: row;
        }
        .avatar {
          .avt {
            border-radius: 50%;
            border: 2px solid white;
            transform: rotate(-10deg);
            @include responsiveWidth("w") {
              width: 50%;
            }
            @include responsiveWidth("w-sm") {
              width: 60%;
            }
            @include responsiveWidth("w-lg") {
              width: 50%;
            }
            @include responsiveWidth("w-xl") {
              width: 50%;
            }
          }
          @include responsiveWidth("w") {
            width: 100%;
            text-align: center;
          }
          @include responsiveWidth("w-sm") {
            width: 40%;
            text-align: right;
          }
          @include responsiveWidth("w-lg") {
            width: 50%;
            text-align: right;
          }
        }
        .text {
          padding: 20px;
          .name {
            font-size: 50px;
            color: white;
            @include responsiveWidth("w") {
              text-align: center;
              // display: block;
            }
            @include responsiveWidth("w-sm") {
              text-align: left;
              display: inline;
            }
          }
          .info {
            color: white;
            font-size: 20px;
            @include responsiveWidth("w") {
              text-align: center;
            }
            @include responsiveWidth("w-sm") {
              text-align: left;
            }
          }
          @include responsiveWidth("w") {
            width: 100%;
          }
          @include responsiveWidth("w-sm") {
            width: 60%;
          }
          @include responsiveWidth("w-lg") {
            width: 50%;
          }
        }
      }
    }
    //about
    .about {
      height: 100vh;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      .card {
        width: 100%;
        .card-body {
          @include responsiveWidth("w") {
            display: block;
          }
          @include responsiveWidth("w-md") {
            display: flex;
          }
          .col {
            padding: 0 20px 0 20px;
          }
          .col-3 {
            justify-content: center;
            display: flex;
            align-items: center;
            font-size: 25px;
            font-weight: bold;

            @include responsiveWidth("w") {
              h2 {
                &::after {
                  content: "";
                  display: block;
                  width: 100%;
                  height: 3px;
                  background: #ffb300;
                }
                padding: 10px 0 10px 0;
              }
            }
            @include responsiveWidth("w-md") {
              h2 {
                &::after {
                  display: none;
                }
                padding: 0;
              }
            }
            @include responsiveWidth("w") {
              width: 100%;
              border-right: 0px;
            }
            @include responsiveWidth("w-md") {
              width: 30%;
              border-right: 2px solid #ffb300;
            }
          }
          .col-7 {
            font-size: 20px;
            .contact {
              padding: 10px;
              h3 {
                font-size: 25px;
                font-weight: bold;
              }
              .detail {
                a {
                  text-decoration: none;
                  color: white;
                  padding: 5px 0 5px 10px;
                }
              }
            }
            @include responsiveWidth("w") {
              width: 100%;
            }
            @include responsiveWidth("w-md") {
              width: 70%;
            }
          }
        }
      }
    }
    //education
    .education {
      height: 100vh;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      .card {
        width: 100%;
        .card-body {
          @include responsiveWidth("w") {
            display: block;
          }
          @include responsiveWidth("w-md") {
            display: flex;
          }
          .col {
            padding: 0 20px 0 20px;
          }
          .col-3 {
            justify-content: center;
            display: flex;
            align-items: center;
            font-size: 25px;
            font-weight: bold;

            @include responsiveWidth("w") {
              h2 {
                &::after {
                  content: "";
                  display: block;
                  width: 100%;
                  height: 3px;
                  background: #ffb300;
                }
                padding: 10px 0 10px 0;
              }
            }
            @include responsiveWidth("w-md") {
              h2 {
                &::after {
                  display: none;
                }
                padding: 0;
              }
            }
            @include responsiveWidth("w") {
              width: 100%;
              border-right: 0px;
            }
            @include responsiveWidth("w-md") {
              width: 30%;
              border-right: 2px solid #ffb300;
            }
          }
          .col-7 {
            font-size: 20px;
            .content {
              padding: 10px;
              h3 {
                font-size: 25px;
                font-weight: bold;
              }
              .detail {
                font-style: italic;
                i {
                  font-size: 15px;
                }
              }
            }
            @include responsiveWidth("w") {
              width: 100%;
            }
            @include responsiveWidth("w-md") {
              width: 70%;
            }
          }
        }
      }
    }

    //work
    .work {
      height: 100vh;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      .card {
        width: 100%;
        .card-body {
          @include responsiveWidth("w") {
            display: block;
          }
          @include responsiveWidth("w-md") {
            display: flex;
          }
          .col {
            padding: 0 20px 0 20px;
          }
          .col-3 {
            justify-content: center;
            display: flex;
            align-items: center;
            font-size: 25px;
            font-weight: bold;

            @include responsiveWidth("w") {
              h2 {
                &::after {
                  content: "";
                  display: block;
                  width: 100%;
                  height: 3px;
                  background: #ffb300;
                }
                padding: 10px 0 10px 0;
              }
            }
            @include responsiveWidth("w-md") {
              h2 {
                &::after {
                  display: none;
                }
                padding: 0;
              }
            }
            @include responsiveWidth("w") {
              width: 100%;
              border-right: 0px;
            }
            @include responsiveWidth("w-md") {
              width: 30%;
              border-right: 2px solid #ffb300;
            }
          }
          .col-7 {
            font-size: 20px;
            .item {
              padding: 10px 0 10px 0;
              h2 {
                i {
                  font-size: 20px;
                }
              }
              span {
                font-style: italic;
              }
              .content {
                padding: 10px 0 10px 0;
                h3 {
                  font-size: 25px;
                  font-weight: bold;
                }
                .detail {
                  a {
                    padding: 10px 0 10px 0;
                  }
                  ul {
                    padding-left: 30px;
                  }
                }
              }
            }

            @include responsiveWidth("w") {
              width: 100%;
            }
            @include responsiveWidth("w-md") {
              width: 70%;
            }
          }
        }
      }
    }
    //Skill
    .skill {
      height: 100vh;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      .card {
        width: 100%;
        .card-body {
          @include responsiveWidth("w") {
            display: block;
          }
          @include responsiveWidth("w-md") {
            display: flex;
          }
          .col {
            padding: 0 20px 0 20px;
          }
          .col-3 {
            justify-content: center;
            display: flex;
            align-items: center;
            font-size: 25px;
            font-weight: bold;

            @include responsiveWidth("w") {
              h2 {
                &::after {
                  content: "";
                  display: block;
                  width: 100%;
                  height: 3px;
                  background: #ffb300;
                }
                padding: 10px 0 10px 0;
              }
            }
            @include responsiveWidth("w-md") {
              h2 {
                &::after {
                  display: none;
                }
                padding: 0;
              }
            }
            @include responsiveWidth("w") {
              width: 100%;
              border-right: 0px;
            }
            @include responsiveWidth("w-md") {
              width: 30%;
              border-right: 2px solid #ffb300;
            }
          }
          .col-7 {
            font-size: 20px;
            .content {
              padding: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-wrap: wrap;
              .item {
                padding: 10px;
                font-size: 30px;
                .progess {
                  position: relative;
                  width: 100%;
                  height: 8px;
                  background-color: blanchedalmond;
                  border-radius: 5px;
                  margin: 5px 0 5px 0;
                  .bar {
                    border-radius: 5px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    display: block;
                  }
                  .java {
                    width: 80%;
                    background-color: #e90401;
                  }
                  .sql {
                    width: 85%;
                    background-color: #2b3b58;
                  }
                  .c {
                    width: 90%;
                    background-color: #9c70d4;
                  }
                  .c {
                    width: 90%;
                    background-color: #9c70d4;
                  }
                  .html {
                    width: 90%;
                    background-color: #ea6228;
                  }
                }
                @include responsiveWidth("w") {
                  width: 100%;
                  text-align: center;
                }
                @include responsiveWidth("w-sm") {
                  width: 50%;
                  text-align: center;
                }
                @include responsiveWidth("w-md") {
                  width: 100%;
                  text-align: left;
                }
              }
            }
            @include responsiveWidth("w") {
              width: 100%;
            }
            @include responsiveWidth("w-md") {
              width: 70%;
            }
          }
        }
      }
    }
  }
}
